<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-32980-1660213350/blob/main/TeamMember1_Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s="Hi there Sam!"
x=s.split()
print(x)

['Hi', 'there', 'Sam!']

In [3]:
s='Hi there dad!'
x=s.split()
print(x)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet="Earth"
diameter = 12742
print("The diameter of {one} is {two} kilometers".format(one=planet,two=diameter))

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [5]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

'hello'

In [25]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [23]:

d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
Tuple is immutable whereas a list is mutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [9]:
def domain(email):
  return email.split('@')[-1]
domain('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [10]:
def findDog(st):
  return 'dog' in st.lower().split()
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [11]:
def countDog(st):
  count = 0
  for word in st.lower().split():
    if word == 'dog':
      count += 1
      return count
      countDog('This dog runs faster than the other dog bro!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [24]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
        
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [20]:
emp1=["Ani","Manager",10000,70000,9089678997]
emp2=["Swe","Developer",10001,65000,9046577874]
emp3=["Priya","Supporter",10002,40000,9034567899]
emp4=["Devi","HR",10003,35000,9987634567]
emp5=["Haris","Tester",50000,93000,9123465346]
for i in range(1):
    print(emp1[3],emp2[3],emp3[3],emp4[3],emp5[3])
    Salary=emp1[3]+emp2[3]+emp3[3]+emp4[3]+emp5[3];
    print(Salary)
    Amount=int(input("Enter the total invested amount:"));
    Expenditure=Amount-Salary;
    print(Expenditure)

70000 65000 40000 35000 93000
303000
Enter the total invested amount:100000000
99697000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [22]:
e1={'Empid':'1000','Empname':'Ani','Basicpay':'10000'}
d1={'Deptname':'designer','Deptid':'3532'}
e1.update(d1)
print(e1)

{'Empid': '1000', 'Empname': 'Ani', 'Basicpay': '10000', 'Deptname': 'designer', 'Deptid': '3532'}